<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8"> <!-- ä,ö,ü,ß-->
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}"> <!-- verlinkung mit css datei-->
        <title> Weather Analysis </title> <!--Anzeige im Tab,oben-->
    </head>

    <body>
        <h1 id="title"> <a href="{{url_for('home')}}">Wheather Analysis</a> </h1>
        <p id="undertitle">by Tobia Ippolito and Syon Kadkade</p>

        <div id="menu-bar">
            <a href="{{url_for('home')}}" class="active" >Home</a>
            <a href="{{url_for('visualization')}}">Visualisierungen</a>
            <a href="{{url_for('features')}}" >Features</a>
            <a href="{{url_for('collection')}}" >Datensammlung</a>
            <a href="{{url_for('analyse')}}" >Analyse</a>
        </div>

        <div id="data">
            <!-- {% for line in range(rows) %}
                <p>{{data[line]}}</p> 
            {% endfor %} -->
            <p id="data-title-1">Datenattribute visualisiert:</p>
            <p id="data-title-2">aktuelle Anzahl: {{rows}}</p>
            <form method="post" action="/" id="color_input">
                <label>Farbe:</label><br>
                <input type="text" id="color" name="color" value="#ffcc5c"><br>
                <label>Hintergrundfarbe:</label><br>
                <input type="text" id="bg_color" name="bg_color" value="#230070"><br><br>
                <input type="submit" value="Submit" name="submit_button">
              </form>
            <img src="{{url_for('static', filename='vis_hour.png')}}"></img>
            <img src="{{url_for('static', filename='vis_minute.png')}}"></img>
            <img src="{{url_for('static', filename='vis_date.png')}}"></img>
            <img src="{{url_for('static', filename='vis_weather_state.png')}}"></img>
            <img src="{{url_for('static', filename='vis_temperature.png')}}"></img>
            <img src="{{url_for('static', filename='vis_dew_point.png')}}"></img>
            <img src="{{url_for('static', filename='vis_humidity.png')}}"></img>
            <img src="{{url_for('static', filename='vis_rainfall.png')}}"></img>
            <img src="{{url_for('static', filename='vis_air_pressure.png')}}"></img>
            <img src="{{url_for('static', filename='vis_visibility.png')}}"></img>
            <img src="{{url_for('static', filename='vis_wind.png')}}"></img>
            <img src="{{url_for('static', filename='vis_wind_gusts.png')}}"></img>
            <img src="{{url_for('static', filename='vis_wind_direction.png')}}"></img>
        </div>

        <div class="bottom-box">
            <b><a class="up" href="#title"> Klicke hier, um nach oben zu gelangen </a></b></p>   
            <b><p><a href="{{url_for('datenschutz')}}" class="info"> Datenschutz </a></p></b> 
            <b><p><a href="{{url_for('impressum')}}" class="info"> Impressum </a></p></b>   </div>
    </body>
</html>