body {
	background-image:linear-gradient(270deg, #7fdae6 5%, white 80%);
	width:center;
}

a{
	color:#0066ff;
}

a:hover {  /*auf überschrift fabänderung*/
   color:#0066ff;
}


#title {
 	text-align:center;
	color: #0066ff;
	padding-top:50px;
	width:center;
	border:5px;
	font: bold 5em Helvetica, Arial, Sans-Serif;
	position: center;
}

#undertitle {
	text-align:center;
	color: #0066ff;
	padding-top:0px;
	width:center;
	font-size: 5;
	position: center;
	font: 1em Helvetica, Arial, Sans-Serif;
}

/** Reiter **/
#menu-bar {
	/**display: none;**/
	overflow: hidden;
	background-color:#0066ff;
	border-radius:1em;
	margin-top:35px;
	border:2px solid black;
}

#menu-bar a{
	float: left;
    /**display: block;**/
    color: black;
    text-align: center;
	padding: 20px 25px;
    text-decoration: none;
    font-size: 17px;
}

#menu-bar a:hover {
    background-color: #033a8b;
    color: black;
}

.active {
	background-color: rgb(0, 204, 255);
}

/** Gesammelte Wetterdaten **/
#color_input {
	text-align: left;
	position: left;
	padding-left:10%;
}

#data {
	text-align:center;
	color: #023583;
	font-size: 10;
	position: center;
	padding-top: 50px;
	padding-bottom: 30px;
	font: 1em Helvetica, Arial, Sans-Serif;
}

#data-title-1 {
	padding-left:10%;
	text-align:left;
}

#data-title-2 {
	padding-left:10%;
	padding-bottom:25px;
	text-align:left;
}

img {
	/**max-width: 70%;
	max-height:50%;
	width:auto;
	height:auto;**/
	padding:8%;
	width: 50%;
	height: 50%;
}

/** Untere Box **/
.info {
	color:white;
}

.up {
	color: #0066ff;
}

.bottom-box {
	background-color:black;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:50px;
}

/** Datenschutz und Impressum **/
.privacy {
	border:10px solid #0066ff; 
	background-color:black;
	color:white;
	padding:25px;
	margin:50px;
}