<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8"> <!-- ä,ö,ü,ß-->
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}"> <!-- verlinkung mit css datei-->
        <title> Weather Analysis </title> <!--Anzeige im Tab,oben-->
    </head>

    <body>
        <h1 id="title"> <a href="{{url_for('home')}}">Wheather Analysis</a> </h1>
        <p id="undertitle">by Tobia Ippolito and Syon Kadkade</p>

        <div id="menu-bar">
            <a href="{{url_for('home')}}">Home</a>
            <a href="{{url_for('features')}}" >Features</a>
            <a href="{{url_for('collection')}}" >Collection</a>
            <a href="{{url_for('analyse')}}" >Analyse</a>
        </div>

        <div class="privacy">
            <h2>Datenschutz</h2> 
            <p>Die Betreiber dieser Seiten nehmen
                den Schutz Ihrer pers&ouml;nlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten
                vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser
                Datenschutzerkl&auml;rung.</p> 
            <p>Die Nutzung unserer Website ist in der Regel ohne Angabe
                personenbezogener Daten m&ouml;glich. Soweit auf unseren Seiten personenbezogene Daten
                (beispielsweise Name, Anschrift oder E-Mail-Adressen) erhoben werden, erfolgt dies, soweit
                m&ouml;glich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdr&uuml;ckliche Zustimmung
                nicht an Dritte weitergegeben.</p> 
            <p>Wir weisen darauf hin, dass die Daten&uuml;bertragung im Internet
                (z.B. bei der Kommunikation per E-Mail) Sicherheitsl&uuml;cken aufweisen kann. Ein l&uuml;ckenloser
                Schutz der Daten vor dem Zugriff durch Dritte ist nicht m&ouml;glich.</p><p>&nbsp;</p>
                <h2>Cookies</h2> <p>Die Internetseiten verwenden teilweise so genannte Cookies. Cookies richten auf
                Ihrem Rechner keinen Schaden an und enthalten keine Viren. Cookies dienen dazu, unser Angebot
                nutzerfreundlicher, effektiver und sicherer zu machen. Cookies sind kleine Textdateien, die auf Ihrem
                Rechner abgelegt werden und die Ihr Browser speichert.</p> <p>Die meisten der von uns verwendeten
                Cookies sind so genannte „Session-Cookies“. Sie werden nach Ende Ihres Besuchs automatisch
                gel&ouml;scht. Andere Cookies bleiben auf Ihrem Endger&auml;t gespeichert, bis Sie diese l&ouml;schen.
                Diese Cookies erm&ouml;glichen es uns, Ihren Browser beim n&auml;chsten Besuch
                wiederzuerkennen.</p> <p>Sie k&ouml;nnen Ihren Browser so einstellen, dass Sie &uuml;ber das Setzen
                von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies f&uuml;r
                bestimmte F&auml;lle oder generell ausschlie&szlig;en sowie das automatische L&ouml;schen der
                Cookies beim Schlie&szlig;en des Browser aktivieren. Bei der Deaktivierung von Cookies kann die
                Funktionalit&auml;t dieser Website eingeschr&auml;nkt sein.</p><p>&nbsp;</p> <h2>Server-Log-
                Files</h2> <p>Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten
                Server-Log Files, die Ihr Browser automatisch an uns &uuml;bermittelt. Dies sind:</p> <ul>
                <li>Browsertyp und Browserversion</li> <li>verwendetes Betriebssystem</li> <li>Referrer URL</li>
                <li>Hostname des zugreifenden Rechners</li> <li>Uhrzeit der Serveranfrage</li> </ul> <p>Diese Daten
                sind nicht bestimmten Personen zuordenbar. Eine Zusammenf&uuml;hrung dieser Daten mit anderen
                Datenquellen wird nicht vorgenommen. Wir behalten uns vor, diese Daten nachtr&auml;glich zu
                pr&uuml;fen, wenn uns konkrete Anhaltspunkte f&uuml;r eine rechtswidrige Nutzung bekannt
                werden.</p><p>&nbsp;</p> <h2>Kontaktformular</h2> <p>Wenn Sie uns per Kontaktformular Anfragen
                zukommen lassen, werden Ihre Angaben aus dem Anfrageformular inklusive der von Ihnen dort
                angegebenen Kontaktdaten zwecks Bearbeitung der Anfrage und f&uuml;r den Fall von Anschlussfragen
                bei uns gespeichert. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.</p><p>&nbsp;</p>
                <h2>Newsletterdaten</h2> <p>Wenn Sie den auf der Website angebotenen Newsletter beziehen
                m&ouml;chten, ben&ouml;tigen wir von Ihnen eine E-Mail-Adresse sowie Informationen, welche uns die
                &Uuml;berpr&uuml;fung gestatten, dass Sie der Inhaber der angegebenen E-Mail-Adresse sind und mit
                dem Empfang des Newsletters einverstanden sind. Weitere Daten werden nicht erhoben. Diese Daten
                verwenden wir ausschlie&szlig;lich f&uuml;r den Versand der angeforderten Informationen und geben sie
                nicht an Dritte weiter.</p> <p>Die erteilte Einwilligung zur Speicherung der Daten, der E-Mail-Adresse
                sowie deren Nutzung zum Versand des Newsletters k&ouml;nnen Sie jederzeit widerrufen, etwa
                &uuml;ber den "Austragen"-Link im Newsletter.</p><p>&nbsp;</p> <h2>YouTube</h2> <p>Unsere
                Website nutzt Plugins der von Google betriebenen Seite YouTube. Betreiber der Seiten ist die YouTube,
                LLC, 901 Cherry Ave., San Bruno, CA 94066, USA. Wenn Sie eine unserer mit einem YouTube-Plugin
                ausgestatteten Seiten besuchen, wird eine Verbindung zu den Servern von YouTube hergestellt. Dabei
                wird dem Youtube-Server mitgeteilt, welche unserer Seiten Sie besucht haben.</p> <p>Wenn Sie in
                Ihrem YouTube-Account eingeloggt sind erm&ouml;glichen Sie YouTube, Ihr Surfverhalten direkt Ihrem
                pers&ouml;nlichen Profil zuzuordnen. Dies k&ouml;nnen Sie verhindern, indem Sie sich aus Ihrem
                YouTube-Account ausloggen.</p> <p>Weitere Informationen zum Umgang von Nutzerdaten finden Sie in
                der Datenschutzerkl&auml;rung von YouTube unter: <a
                href="https://www.google.de/intl/de/policies/privacy"
                target="_blank">https://www.google.de/intl/de/policies/privacy</a></p><p>&nbsp;</p> <h2>SSLVerschl&
                uuml;sselung</h2> <p>Diese Seite nutzt aus Gr&uuml;nden der Sicherheit und zum Schutz der
                &Uuml;bertragung vertraulicher Inhalte, wie zum Beispiel der Anfragen, die Sie an uns als Seitenbetreiber
                senden, eine SSL-Verschl&uuml;sselung. Eine verschl&uuml;sselte Verbindung erkennen Sie daran, dass
                die Adresszeile des Browsers von &quot;http://&quot; auf &quot;https://&quot; wechselt und an dem
                Schloss-Symbol in Ihrer Browserzeile.</p> <p>Wenn die SSL Verschl&uuml;sselung aktiviert ist,
                k&ouml;nnen die Daten, die Sie an uns &uuml;bermitteln, nicht von Dritten mitgelesen
                werden.</p><p>&nbsp;</p> <h2>Recht auf Auskunft, L&ouml;schung, Sperrung</h2> 
            <p>Sie haben jederzeit das Recht auf unentgeltliche Auskunft &uuml;ber Ihre gespeicherten personenbezogenen Daten,
                deren Herkunft und Empf&auml;nger und den Zweck der Datenverarbeitung sowie ein Recht auf
                Berichtigung, Sperrung oder L&ouml;schung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema
                personenbezogene Daten k&ouml;nnen Sie sich jederzeit unter der im Impressum angegebenen Adresse
                an uns wenden.</p>
            <p>&nbsp;</p>
        </div>

        <div class="bottom-box">
            <b><a class="up" href="#title"> Klicke hier, um nach oben zu gelangen </a></b></p>   
            <b><p><a href="{{url_for('datenschutz')}}" class="info"> Datenschutz </a></p></b> 
            <b><p><a href="{{url_for('impressum')}}" class="info"> Impressum </a></p></b>   </div>
    </body>
</html>